* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter-Italic;
    src: url(../fonts/Inter_28pt-Italic.ttf);
}

@keyframes viewAnimation {
    from{
        opacity: 0;
        transform: scale(.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

:root {
    --spacing-sm:10px;
    --spacing-md:20px;
    --spacing-lg:30px;
    --color-neon-purple: #7C3AED;
    --color-blue:#0B1020;
    --color-grey: #E5E7EB;
}

html{
    scroll-behavior: smooth;
    font-family: Inter-Italic;
}

body{
    background-color: var(--color-blue);
}

#hero{
    height: 100dvh;
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    color: var(--color-grey);

    .cta{
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        h2{
            font-size: 2vmin;
            color: var(--color-neon-purple);
        }

        h1{
            font-size: 5vmin;
        }

        p{
            font-size: 2vmin;
        }

        .btn{
            display: flex;
            flex-direction: row;
            gap: var(--spacing-lg);
        }

        .primary-btn{
            padding: var(--spacing-md);
            text-align: center;
            background-color: var(--color-neon-purple);
            border: 2px solid var(--color-neon-purple);
            color: var(--color-grey);
            text-decoration: none;
            transition: .5s;

            &:hover{
                background-color: transparent;
            }
        }

        .secondary-btn{
            padding: var(--spacing-md);
            text-align: center;
            background-color: transparent;
            color: var(--color-grey);
            text-decoration: none;
            border: 2px solid var(--color-grey);
            transition: .5s;

            &:hover{
                background-color: var(--color-grey);
                color: var(--color-blue);
            }
        }
    }
    .hero-img{
        width: 45%;

        img 
        {
            box-shadow: 10px 10px 15px var(--color-neon-purple);
            width: 100%;
            text-align: center;
            height: auto;
            border-radius: 10px;
        }
    }
}

#cards{
    color: var(--color-grey);
    text-align: center;
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
    transition: .5s;

    h2{
        font-size: 2vmin;
        font-weight: 300;
    }

    h1{
        font-size: 5vmin;
    }

    .card-items{
        width: 100%;
        min-width: 100dvh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: var(--spacing-lg);
        justify-content: center;
        margin-block: var(--spacing-md);

        .card{
            box-shadow: 1px 1px 5px var(--color-neon-purple);
            width: 22%;
            min-height: 550px;
            padding: var(--spacing-md);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            align-items: center;
            justify-content: center;
            gap: var(--spacing-md);
            border-radius: 8px;
            text-align: center;
            transition: .5s;
            margin-block: var(--spacing-md);

            &:hover{
                scale: 1.1;
            }

            img{
                width: 90%;
                border-radius: 8px;
            }

            h2{
                font-size: 2vmin;
                width: 100%;
            }

            p{
                font-size: 1.5vmin;
                width: 100%;
            }
        }
    }
}

#about{
    height: 100dvh;
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    color: var(--color-grey);
    animation: viewAnimation both;
    animation-timeline: view(70% 20%);
    transition: .5s;

    .about-content{
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        h2{
            font-size: 2vmin;
            color: var(--color-neon-purple);
        }

        h1{
            font-size: 5vmin;
        }

        p{
            font-size: 2vmin;
        }

        li{
            font-size: 2vmin;
            padding-block: var(--spacing-sm);
            list-style: none;
        }
    }

    .about-img{
        width: 45%;

        img 
        {
            box-shadow: 10px 10px 15px var(--color-neon-purple);
            width: 100%;
            text-align: center;
            height: auto;
            border-radius: 10px;
        }
    }
}

footer{
    height: 100px;
    background-color: var(--color-neon-purple);
    text-align: center;
    padding: var(--spacing-lg);
    color: var(--color-grey);
}

section{
    min-height: 100dvh;
    margin-inline: var(--spacing-lg);
}